/* debug */

.debug header .top{
    background-color: red
}

.debug header .sized-container>*{
    background-color: orange;
    border: 2px dashed black;
}
.debug header .bottom{
    background-color: yellow;
}
.debug header .bottom .container{
    background-color: blue;
    border: 2px dashed black;
}
.debug main section .big{
    background-color: lightblue;
    border: 2px dashed black;
    height: 500px;
}
.debug main section .small{
    background-color: lightpink;
    border: 2px dashed black;
}
#last-section .sized-container{
    height: 500px;
    background-color: green;
    border: 2px dashed black;
}
main section:nth-of-type(2n){
    background-color: lightgrey;
}
/* CSS rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
}
.sized-container{
    width: 60%;
    margin: auto;
}
/* header */
    /* top */
    header .top .sized-container{
        padding: 20px;
        align-items: center;
    }
    header #logo{
        justify-content: flex-start;
        flex-grow: 1;
        padding: 5px 10px;
    }
    header .links{
        justify-content: center;
        flex-grow: 4;
        padding: 5px 10px;
    }
    .links a{
        text-decoration: none;
        color: black;
        margin: 0 10px;
    }
    header .login.button{
        justify-content: flex-end;
        flex-grow: 1;
        padding: 5px 10px;
    }
    /* bottom */
    header .bottom .container{
        height: 400px;
        width: 50%;
        margin: 50px auto;
    }

/* main */
main section{
    padding: 50px;
}
main section .big{
    width: 60%;
}
main section .small{
    width: 40%;
}

